body {
  /*removes the corners*/
  margin: 0;
  /* Apply Roboto Font to the body */
  font-family: 'Roboto', sans-serif;
  /* Add the bg image of the website*/
  background-image: url(../assets/repeated-square-dark.webp);
  /*Ensure the bg img covers the entire section */
  background-size: cover;
  /* Add black bg color */
  background-color: black;

}

.hero {
  /* text color*/
  color: #fff;
  /* Align text to the center */
  text-align: center;
}

ul {
  display: flex;
  gap: 2rem;
}

li{
  list-style-type: none;
}