body {
  margin: 0;
  /*removes the corners*/
  /* Apply Roboto Font to the body */
  font-family: 'Roboto', sans-serif;
}

.hero {
  /* Add black bg color */
  background-color: black;
  /*Add the bg image for the hero section*/
  background-image: url(../assets/repeated-square-dark.webp);
  /*Ensure the bg img covers the entire section */
  background-size: cover;
  /* text color*/
  color: #fff;
  /* Align text to the center */
  text-align: center;
}